.ProseMirror {
  outline: none;
  min-height: 120px;
}

.ProseMirror p {
  margin: 0.25rem 0;
}

.ProseMirror h1 {
  font-size: 1.75rem;
  font-weight: 700;
}

.ProseMirror h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

.ProseMirror h3 {
  font-size: 1.25rem;
  font-weight: 600;
}

.ProseMirror h4 {
  font-size: 1rem;
  font-weight: 600;
  color: #333;
}

.ProseMirror ul {
  list-style: disc;
  padding-left: 1.25rem;
}

.ProseMirror ol {
  list-style: decimal;
  padding-left: 1.25rem;
}
