@import 'tailwindcss';
@import 'tailwindcss-animated';

:root {
  --background: #f6f6f6;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100vw - 80px);
}

@media (max-width: 2000px) {
  .container {
    max-width: calc(100vw - 60px);
  }
}

@media (max-width: 1400px) {
  .container {
    max-width: calc(100vw - 40px);
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: calc(100vw - 30px);
  }
}

@media (max-width: 1280px) {
  .container {
    max-width: calc(100vw - 20px);
  }
}
