@import "tailwindcss";
@import "tailwindcss-animated";

:root {
    --background: #F6F6F6;
    --foreground: #171717;
}

body {
    background: var(--background);
    color: var(--foreground);
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100vw - 80px);
}